.gig {
    border: 1px solid #ccc;
    border-radius: 8px;
    padding: 16px;
    margin: 16px;
    text-align: center;
    flex: 0 0 350px;
}
  
.bandName {
    margin-top: 5px;
    color: #333;
    font-size: 1.5em;
    margin-bottom: 15px;
}

.bandImage {
    max-width: 100%;
    height: auto;
    border-radius: 8px;
    margin-bottom: 8px;
}

.eventDescription, .dateTime, .location {
    color: #555;
    margin-bottom: 8px;
}

.dateTime {
    font-weight: bold;
}

.location {
    font-style: italic;
}

.favourite-button {
    display: inline-block;
    padding: 10px 15px;
    font-size: 16px;
    font-weight: bold;
    text-align: center;
    text-decoration: none;
    cursor: pointer;
    border: 2px solid #e74c3c;
    border-radius: 5px;
    color: #e74c3c;
    background-color: #fff;
    transition: background-color 0.3s, color 0.3s;
}
  
  /* Hover effect */
.favourite-button:hover {
    background-color: #e74c3c;
    color: #fff;
}

.favourited-button {
    display: inline-block;
    padding: 10px 15px;
    font-size: 16px;
    font-weight: bold;
    text-align: center;
    text-decoration: none;
    cursor: not-allowed;
    border: 2px solid #2ecc71;
    border-radius: 5px;
    color: #2ecc71;
    background-color: #fff;
  }
  