#root {
  max-width: 1680px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.logo {
  width: 15rem;
}

.allGigs {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}