<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Chitter</title>
</head>
<body>
    <style>
        nav {
            display: flex;
            justify-content: space-between;
            align-items: center;
        }
    </style>

    <nav>
        <h1>Welcome to Chitter!</h1>
        <a href="/chitter/post/new">New Post</a>
        <a href="/chitter/login" style="float: right;">Log In / Sign Up</a>
    </nav>
    

    <div id="posts">
        <h2>Posts</h2>

        <p><b>Name</b> - @username</p>
        <p>Example post content</p>
    </div>
</body>
</html>